#sidebar-nav {
  width: 200px;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 992px) {
  #sidebar-nav {
      width: 150px;
  }
}

@media (max-width: 768px) {
  #sidebar-nav {
      width: 140px;
  }
}

@media (max-width: 480px) {
  #sidebar-nav {
      width: 110px;
  }
}

.sidebar-logo {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .sidebar-logo {
      max-width: 70%;
  }
}

@media (max-width: 768px) {
  .sidebar-logo {
      max-width: 60%;
  }
}

@media (max-width: 480px) {
  .sidebar-logo {
      max-width: 50%;
  }
}